Repository scientific-python/specs, pull requests merged in 2023-10, with the labels that each got.

#270 spec-0 and spec-4 endorsements by xarray
  spec-0000/index.md
  spec-0004/index.md
Labels: SPEC endorsement

#272 Clarify schedule is guideline
  spec-0000/index.md
Labels: SPEC Discussion

#273 SPEC 0: Soften explicit drop schedule.
  spec-0000/SPEC0_versions.py
  spec-0000/chart.md
  spec-0000/schedule.md
Labels: SPEC Tools
