Repository scientific-python/specs, pull requests merged in 2023-08, with the labels that each got.

#255 NumPy project endorses SPEC 4
  spec-0004/index.md
Labels: SPEC endorsement

#260 fix: use full options name for extra-index-url
  spec-0004/index.md
Labels: SPEC Tools

#262 DOC: adding artefact retention policy to SPEC4
  spec-0004/index.md
Labels: SPEC Discussion
